
<nav class="navbar navbar-expand-lg "style="background-color:#ffffff; height:20mm;">
  <a class="navbar-brand" href="#"><img style="width:80px;margin-top:2mm;margin-bottom:2mm;" src="./assets/1.png"></a>
    <a style ="color:black"class="navbar-brand" href="#"><b>The Cute Cut</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <span class="navbar-text" style="margin-left:23cm;">
          <ul class="navbar-nav mr-auto">
            <li> <button style="background-color: #ffffff;margin-top:4mm; width: 4cm;border-style: solid;border-color:black;" class="btn btn-default navbar-btn">Help</button>
            </li>
            <li> <button style="background-color: #ffffff;margin-top:4mm;margin-left: 10mm; width: 4cm;border-style: solid;border-color:black;" class="btn btn-default navbar-btn">Report</button>
            </li>
            <li> <button style="background-color: #ffffff;margin-top:4mm;margin-left: 10mm; width: 4cm;border-style: solid;border-color:black;" class="btn btn-default navbar-btn">Add your Post</button>
            </li>
            <li> <button style="background-color: #ffffff;margin-top:4mm;margin-left: 10mm; width: 4cm;border-style: solid;border-color:black;" class="btn btn-default navbar-btn">Login</button>
            </li>
          </ul>
      </span>
    </div>
  </nav>

  <nav class="navbar navbar-expand-lg "style="background-color:#ECECEC; height:20mm;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <span class="navbar-text" style="margin-left:3cm;">
            <ul class="navbar-nav mr-auto">
              <li><button style="margin-top:4mm;margin-left: 10mm; width: 4cm;color: black;" type="button" class="btn btn-link"><b>Saloon</b> </button>
              </li>
              <li> <button style="margin-top:4mm;margin-left: 10mm; width: 4cm;color: black;" type="button" class="btn btn-link"><b>Hair Stylist</b> </button>
              </li>
            </ul>
        </span>
      </div>
    </nav>