<div class="card" style="background-color:#ececec" >
  <div class="card-body">
      <div class="row">
      <div class = "column">
      <p style ="font-size:25px;margin-left:1.5cm;margin-top:.5cm;font-style: inherit;" class="card-text"> <b>Sign Up Here</b></p>
      </div>
      </div>
  </div>  
 <form action="/action_page.php">
  <div class="imgcontainer">
      <div class="row">
          <div class="column">
             <a href >
             <img style="width:60px;margin-left:1.8cm;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Facebook_icon.svg/768px-Facebook_icon.svg.png" alt="Avatar" class="avatar">
             </a>
          </div>
          <div class="column">
              <a href >
              <img style="width:60px;margin-left:1cm;" src="https://www.shareicon.net/download/2015/10/02/110743_google.svg" alt="Avatar" class="avatar">
              </a>
          </div>  
      </div>
    </div> 
  <div class="container">
    <div class="row">
      <div class = "column">
      <label style="margin-left:1.5cm;font-size:25px;" for="fname"><b>First Name</b></label>
      <div class="column">
      <input style="margin-left:1.5cm; width:10cm; height:1.1cm;"type="text" placeholder="Enter First Name" name="fname" required>
      </div>
      </div>  

      <div class = "column">
      <label style="margin-left:1.5cm;font-size:25px;" for="lname"><b>Last Name</b></label>
      <div class="column">
      <input style="margin-left:1.5cm; width:10cm; height:1.1cm;"type="text" placeholder="Enter Last Name" name="lname" required>
      </div>
      </div> 
    </div>

    <div class="row">
        <div class = "column">
        <label style="margin-left:1.5cm;font-size:25px;margin-top:.25cm;" for="email"><b>Email</b></label>
        <div class="column">
        <input style="margin-left:1.5cm; width:10cm; height:1.1cm;"type="text" placeholder="Enter Email Address" name="email" required>
        </div>
        </div>  

        <div class = "column">
        <label style="margin-left:1.5cm;font-size:25px;margin-top:.25cm;" for="city"><b>City</b></label>
        <div class="column">
        <input style="margin-left:1.5cm; width:10cm; height:1.1cm;"type="text" placeholder="Enter City Name" name="city" required>
        </div>
        </div> 
      </div>

      <div class="row">
          <div class = "column">
          <label style="margin-left:1.5cm;font-size:25px;margin-top:.25cm;" for="password"><b>Password</b></label>
          <div class="column">
          <input style="margin-left:1.5cm; width:10cm; height:1.1cm;"type="text" placeholder="Enter Password" name="password" required>
          </div>
          </div>  
  
          <div class = "column">
          <label style="margin-left:1.5cm;font-size:25px;margin-top:.25cm;" for="confirmpassword"><b>Confirm Password</b></label>
          <div class="column">
          <input style="margin-left:1.5cm; width:10cm; height:1.1cm;"type="text" placeholder="Enter Password" name="confirmpassword" required>
          </div>
          </div> 
      </div>
      
      <div style="margin-left:9cm; width:10cm; height:1.1cm;margin-top:.75cm "class="dropdown" required>
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Select the Role type
          <span class="caret"></span></button>
          <ul class="dropdown-menu" required>
            <li><a href="#">Saloon Owner</a></li>
            <li><a href="#">Hair Stylist</a></li>
          </ul>
       </div>

       </div>
    
       <div class="row">
          <div class = "column">
          <button style ="margin-left:92mm;width:6cm; height:1.1cm;margin-top:.5cm; background-color: rgb(173, 21, 21);color: rgb(241, 237, 237);font-size:25px; line-height:1em;" class="btn" type="submit">Sign Up</button>
          </div>  
          <label>
          <input style="margin-left:10.5cm; height:.5cm;margin-top:5mm;width:.5cm;" type="checkbox" checked="checked" name="remember"> Remember Me </label>
          
          <div class = "column">
        </div> 
      </div>    

      <p style="font-size:15px;margin-left:90mm;margin-top:.5mm;font-display:inherit">Already Have an account?
      <a href>Log In</a>
      </p>
    </form>


</div>
